<div class="sidebar">
    <div class="sidebar-logo">
        <a href="index.html">
            <img src="/images/logo.png" alt="Protend logo">
        </a>
        <div class="sidebar-close" id="sidebar-close">
            <i class='bx bx-left-arrow-alt'></i>
        </div>
    </div>
    <!-- SIDEBAR MENU -->
    <div class="simlebar-sc" data-simplebar>
        <ul class="sidebar-menu tf">
             <li>
                <a href="/">
                <i class="bx bxs-home"></i>
                    Bosh sahifa
                </a>
            </li>
            <li>
                <a href="/project">
                <i class="bx bxs-bolt"></i>
                    Loyihalar
                </a>
            </li>
            <li>
                <a href="/client">
                    <i class='bx bxs-user'></i>
                    <span>Mijozlar</span> 
                </a>
            </li>
            <li>
                <a href="/department">
                    <i class='bx bxs-dashboard'></i>
                    <span>Bo'limlar</span> 
                </a>
            </li>
            <li>
                <a href="/team">
                    <i class='bx bxs-group'></i>
                    <span>Guruhlar</span> 
                </a>
            </li>
            <li>
                <a href="/company">
                    <i class='bx bxs-buildings'></i>
                    <span>Kompaniyalar</span> 
                </a>
            </li>
            <li>
                <a class="darkmode-toggle" id="darkmode-toggle" onclick="switchTheme()">
                    <div>
                        <i class='bx bx-cog mr-10'></i>
                        <span>darkmode</span>
                    </div>

                    <span class="darkmode-switch"></span>
                </a>
            </li>
        </ul>
    </div>

    <!-- END SIDEBAR MENU -->
</div>